.wrapper {
    margin: auto;
    text-align: center;
}

.upload-container {
    background-color: rgb(239, 239, 239);
    border-radius: 6px;
    padding: 10px;
}

.border-container {
    border: 5px dashed rgba(198, 198, 198, 0.65);
    padding: 20px;
}

    .border-container p {
        color: #130f40;
        font-weight: 600;
        font-size: 1.1em;
        letter-spacing: -1px;
        margin-top: 30px;
        margin-bottom: 0;
        opacity: 0.65;
    }

#file-browser {
    text-decoration: none;
    color: rgb(22,42,255);
    border-bottom: 3px dotted rgba(22, 22, 255, 0.85);
}

    #file-browser:hover {
        color: rgb(0, 0, 255);
        border-bottom: 3px dotted rgba(0, 0, 255, 0.85);
    }

.icons {
    color: #95afc0;
    opacity: 0.55;
}

.img-cont {
    padding: 15px 0 0 0;
}

.loading-message {
    font-size: 16px;
    color: #333;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #333;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 10px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadingScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 24px;
    z-index: 9999;    
}

    #loadingScreen .spinner {
        background-color: white;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #333;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin: 10px auto;
        animation: spin 1s linear infinite;
    }